<!DOCTYPE html>
<html lang="en" xmlns:th="http://w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DryBlue | Lista Servizi</title>
    <!-- Dobbiamo inserire gli stili qua con i programmi tipo bootstrap -->
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Lista Servizi</h1>
            <hr>
            <table border = "1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Tipologia</th>
                    <th>Caratteristiche</th>
                    <th>Prezzo</th>
                </tr>
            </thead>
            
	        <tbody>
                <th:block th:each="servizio : ${servizi}">
                    <tr>
                        <td th:text="${servizio.id}"></td>
            		    <td th:text="${servizio.nome}"></td>
            		    <td th:text="${servizio.tipologia}"></td>
            		    <td th:text="${servizio.caratteristiche}"></td>
            		    <td th:text="${servizio.prezzo}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        </div>
    </div>

    <div th:if="${utente.getRuolo().getName().equals('OPERATORE')}"><br>

        <a th:href="@{/servizio/aggiuntaServizio}">Aggiungi servizio</a>
    </div>
</body>
</html>