<!DOCTYPE html>
<html lang="en" xmlns:th="http://w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DryBlue | Homepage</title>
</head>
<body>
<h1>DryBlue</h1>
<hr>

<div th:if="${utente.getRuolo().getName().equals('OPERATORE')}">
    <a th:href="@{/ordini/form}">Nuovo Ordine</a>
    <a th:href="@{/ordini/ListaOrdini}">Lista Ordini</a>
    <a th:href="@{/servizio/listaMacchinari}">Lista Macchinari</a>
    <a th:href="@{/gestioneCliente/clienti}">Lista Clienti</a>
    <a th:href="@{/servizio/listaServizi}">Lista Servizi</a>
    <a th:href="@{/servizio/aggiuntaMacchinario}">Agg Macchinario</a>
    <a th:href="@{/logout}">Logout</a>

    <h3>Benvenuto </h3> <h3 th:text="${utente.nome}"></h3>

</div>

<div th:if="${utente.getRuolo().getName().equals('CLIENTE')}">
    <a th:href="@{/ordini/form}">Nuovo Ordine</a>
    <a th:href="@{/ordini/ListaOrdini}">Lista Ordini</a>

    <form method="post" th:action="@{/gestioneCliente/clienti/dettagliCliente}">
        <input type="hidden" id="telefono" name="telefono" th:value="${utente.cellulare}">
        <button type="submit">Profilo</button>
    </form>
    <a th:href="@{/logout}">Logout</a>


    <h3>Benvenuto </h3> <h3 th:text="${utente.nome}"></h3>

</div>

</body>
</html>