<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password?</title>

</head>

<body>

<form method="post" th:action="@{autenticazione/ReimpostaPassword}">
<div>
    <h1 align="center">Inserisci il tuo nome utente</h1> <br>
    <p>
        <input type="text" name="username" id="username" class="form-control"
               placeholder="Nome Utente" align="center" required autofocus />
    </p>
    <br>

    <button type="submit">Resetta Password</button>
    <a th:href="@{/Homepage}">Torna alla Homepage</a>
</div>
</form>

</body>
</html>