<!DOCTYPE html>
<html lang="en" xmlns:th="http://w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


<div th:replace="navbarBase :: navbarBase"></div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href = "@{'/'}">Homepage</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-sm">
    <div class="row">
        <div class="col-4">
<form th:action="@{/autenticazione/login}" method="post"  autocomplete="off">
                <h2 class="text-center">Esegui l'accesso</h2>
                <div class="form-group">
                    <label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="Username:">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Password:">
                    </label>
                </div>
                <div class="form-group">
                    <input class="form-control button" type="submit" name="Login" value="Login">
                </div>
            </form>
</div>

<div>
    <a th:href="@{/autenticazione/newPassword}"><button type="button" class="btn btn-primary">Primo Accesso</button></a>
</div>
    </div>
</div>
</div>

<footer th:replace="footer :: footer"></footer>

</body>
</html>