<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New Password</title>
    <!-- Dobbiamo inserire gli stili qua con i programmi tipo bootstrap -->

</head>

<h1>Change Password</h1>

<form method="post" th:action="@{/autenticazione/Login.html}">

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" title="New password" placeholder="Nuova Password" required /> <br>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" placeholder="Conferma Password" required/> <br>

    <p class="form-actions">
        <input type="submit" value="Change Password" title="Change password" />
    </p>

</form>
