<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>DryBlue | New Password</title>
    <!-- Dobbiamo inserire gli stili qua con i programmi tipo bootstrap -->

</head>

<script>
    function matchPassword() {
        var pw1 = document.getElementById("newPassword");
        var pw2 = document.getElementById("confirmPassword");
        if (pw1.value !== pw2.value) {
            document.getElementById('controllo').style.color = 'red';
            document.getElementById('controllo').innerHTML = 'Password non coincidono';
        }
        else{
            document.getElementById('controllo').style.color = 'green';
            document.getElementById('controllo').innerHTML = 'Password coincidono';
        }

    }

</script>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<div th:replace="navbarBase :: navbarBase"></div>

<h1>Change Password</h1>

<div class="container-sm">
    <div class="row">
        <div class="col-6">

<form method="post" th:action="@{/autenticazione/newPassword}">
    <div class="form-group">
    <div>
        <p>
            <input type="password" name="newPassword" id="newPassword" class="form-control"
                   placeholder="Nuova Password" required autofocus />
        </p>
        <p>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Conferma nuova Password"
                   required oninput="matchPassword();" />
            <span id="controllo"></span>
        </p>


        <p class="text-center">
            <input type="submit" value="Change Password" class="btn btn-primary" />
        </p>
    </div>
    </div>

</form>
        </div>
    </div>
</div>

</body>

</html>