<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuovo Ordine Operatore</title>
</head>
<body>

<h1>Aggiungi un nuovo ordine</h1>

<!-- l'action del form è un placeholder, da cambiare appensa possibile -->
<form name="aggiuntaOrdineO" id="aggiuntaOrdineO" th:action="@{/ordini/aggiuntaOrdineOperatore.html}" method="POST">

    <input type="text" name="nomeCliente" id="nomeCliente">

    <select name="ordine">
            <!-- Dobbiamo collegarlo alla lista dei servizi -->
            <option> </option>
            <option> </option>
            <option> </option>
        </select><br>

    <select name="ritiro">
        <option value="opzione1">Ritiro</option>
        <option value="opzione2">Consegna</option>
    </select><br>

    <label for="quantity"></label>
    <input type="number" id="quantity" name="quantity" value="1" min="1" max="10"><br>

        <label name="date">Data consegna desiderata</label>
        <input type="date"><br>

    <select name="sede">
        <!-- In caso di trasloco cambiare l'indirizzo qui -->
        <option value="indirizzo1">Via Cardito, 52</option>
        <option value="indirizzo2">Corso Vittorio Emanuele, 250</option>
    </select><br>

    <h2>Note:</h2>
    <textarea name="note" form="aggiuntaOrdineO"></textarea> <br>
    <button type="submit" form="aggiuntaOrdineO" value="Submit">Conferma</button><br>
    <!-- Possiamo fare che se premi questo bottone torna alla pagina precedente o sbianca le caselle -->
    <button type="submit">Annulla</button><br>
</form>


</body>
</html>