<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Nuovo Ordine</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            $("#ritiro").click(function(){
                var status = $("#ritiro option:selected").attr("grouping");
                if(status == "In sede"){
                    $("#sedeDesiderata").show();
                }else{
                    $("#sedeDesiderata").hide();
                }

            });

        });
    </script>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

<div class="container-sm">
    <div class="row">
        <div class="col-8">
<h1 align="center">Aggiungi un nuovo ordine</h1>
            <form method="post" th:action="@{/ordini/aggiuntaRiga}">
                <select name="idServizio">
                    <div th:each="servizio : ${servizi}">
                        <option th:value="${servizio.id}" th:text="${servizio.nome}"></option>
                    </div>
                </select>

                <label for="quantity"></label>
                <input type="number" id="quantity" name="quantity" value="1" min="1">

                <button  type="submit" name="button" id="addButton">Aggiungi all'ordine</button>
            </form>

<form method="post" th:action="@{/ordini/aggiuntaOrdine}" >
    <input type="hidden" name="cliente" th:value="${utente.username}">
    <div class="form-group">

    <ul>
        <div th:if="${righe != null}">
            <div th:each="riga : ${righe}">
                <li th:text="${riga.getServizio().getNome() + ', ' + riga.getQuantita()}"></li>
            </div>
        </div>
    </ul>


    <br><br>
    <select name="ritiro" id="ritiro">
        <option value="In sede" grouping="In sede">Ritiro</option>
        <option value="Consegna" grouping="Consegna">Consegna</option>
    </select><br>

    <h4>Data desiderata</h4>
    <div class="it-datepicker-wrapper">
            <input class="form-control it-date-datepicker" id="date" name="date" type="date">
            <label for="date" name="date"></label>
    </div>

        <div name="sedeDesiderata" id="sedeDesiderata">
    <h4>Sede desiderata</h4>
    <select name="sedeScelta" id="sedeScelta">
        <div id="sede" th:each="sede : ${sedi}">

            <option th:text="${sede.indirizzo}"></option>
        </div>
    </select>
    </div>

        <br><br>

    <div th:if="${utente.getRuolo().getName().equals('OPERATORE')}">
        <h6>Cliente che effettua l'ordine:</h6>
        <select name="cliente">
            <div th:each="cliente : ${clienti}">
                <option th:text="${cliente.username}"></option>
            </div>
        </select>
    </div>

    <label for="note" class="form-label"></label>
    <textarea class="form-control" id="note" name="note" rows="3"></textarea>

    <button type="submit">Conferma</button><br>
    <button type="reset">Annulla</button><br>
    </div>
</form>
</div>


        </div>
    </div>
</div>


</body>
</html>