<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nuovo Ordine</title>
</head>
<body>

<h1>Aggiungi un nuovo ordine</h1>


<form method="post" th:action="@{/ordine/aggiuntaOrdine}" >

    <select name="ordine">
        <div th:each="servizio : ${servizi}">
            <option th:text="${servizio.nome}"></option>
        </div>
    </select>

    <label for="quantity"></label>
    <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">


    <!-- Aggiunge l'ordine nella riga ordine, da controllare -->
    <button  type="button" name="button" id="addButton" th:text="#{ordine.righeOrdine.add}">+</button><br>


    <select name="ritiro">
        <option value="opzione1">Ritiro</option>
        <option value="opzione2">Consegna</option>
    </select><br>



    <label name="date">Data consegna desiderata</label>
    <input type="date"><br>

    <select name="sede">
        <div th:each="sede : ${sedi}">
            <option th:text="${sede.indirizzo}"></option>
        </div>
    </select><br>

    <div th:if="${utente.getRuolo().getName().equals('OPERATORE')}">
        <select name="cliente">
            <div th:each="cliente : ${clienti}">
                <option th:text="${cliente.username}"></option>
            </div>
        </select>
    </div>

    <h2>Note:</h2>
    <textarea name="note"></textarea> <br>

    <button type="submit">Conferma</button><br>
    <!-- Possiamo fare che se premi questo bottone torna alla pagina precedente o sbianca le caselle -->
    <button type="reset">Annulla</button><br>
</form>


</body>
</html>