<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>DryBlue | Modifica Ordine</title>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<div th:replace="navbarOperatore :: navbarOperatore"></div>

<h4 align="left">Modifica Ordine</h4>

<div class="container-sm">
    <div class="row">
        <div class="col-6">

            <form id="modifica" th:action="@{/ordini/ListaOrdini/ModificaOrdine}" method="post">
                <legend>Modifica Stato <br></legend>
                <select name="stato">
                    <option value="Macchiato">Macchiato</option>
                    <option value="Pronto">Pronto</option>
                    <option value="Imbustato">Imbustato</option>
                    <option value="Consegnato">Consegnato</option>
                </select><br><br>
                <input type="hidden" name="idOrdine" th:value="${id}">
                <button type="submit" class="btn btn-light" form="modifica">Modifica</button>
                <br><br>
            </form>

            <div th:if="${ordine.getTipologiaRitiro().equals('In sede')}">
            <label>Modifica sede </label><br>
            <table class="table table-bordered">
                <tr>
                    <td>Sede attuale:</td>
                    <td th:text="${ordine.getSede().getIndirizzo()}"></td>
                </tr>
                <tr>
                    <td>Sede alternativa:</td>
                    <div th:if="${ordine.getSede().getIndirizzo().equals('Ariano Irpino, via Cardito, 52')}">
                        <td>Ariano Irpino, corso Vittorio Emanuele, 250</td>
                    </div>
                    <div th:if="${ordine.getSede().getIndirizzo().equals('Ariano Irpino, corso Vittorio Emanuele, 250')}">
                        <td>Ariano Irpino, via Cardito, 52</td>
                    </div>
                </tr>
            </table>
            <form th:action="@{/ordini/ListaOrdini/ModificaSede}" method="post">
                <input type="hidden" name="idOrdine" th:value="${id}">
                <button type="submit" class="btn btn-light">Modifica</button>
            </form>
            <br><br>
            </div>


            <label>Modifica data <br>

                <div id="error" class="text-danger"></div>

                <table class="table table-bordered">
                    <tr>
                        <td>Data attuale:</td>
                        <td th:text="${ordine.getDataConsegnaDesiderata()}"></td>
                    </tr>
                </table>
                <form th:action="@{/ordini/ListaOrdini/ModificaData}" method="post">
                    <p>Nuova data:</p>
                    <input type="date" name="data" id="date" onchange="dateCheck()">
                    <input type="hidden" name="idOrdine" th:value="${id}">
                    <br><br>
                    <button type="submit" class="btn btn-light" onclick="dateNull()">Modifica</button>
                </form>
            </label><br>
        </div>
    </div>
</div>

<script type="text/javascript">
    function dateCheck(){
        const UserDate = document.getElementById("date").value;
        const thirtyDaysInMs = 30 * 24 * 60 * 60 * 1000;
        const timeDiffInMs = new Date(UserDate).getTime() - Date.now();

        if (new Date(UserDate).getTime() <= Date.now()){
            alert("Data non valida")
        }

        if(new Date(timeDiffInMs).getTime() >= new Date(thirtyDaysInMs).getTime()) {
            alert('Data non valida')
        }

    }
</script>

<script type="text/javascript">
    function dateNull() {
        const UserDate = document.getElementById("date").value;
        const form = document.getElementById("modifica");
        const errorElement = document.getElementById('error');

        form.addEventListener('submit', (e) => {
            let messages = [];

            if (!new Date(UserDate).getTime()) {
                messages.push('Inserisci una data')
            }

            if (messages.length > 0) {
                e.preventDefault()
                errorElement.innerText = messages.join(', ')
            }
        })
    }
</script>

</body>
</html>